/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: url(cloud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(238, 255, 84, 0.219);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    margin-left: 10px;
}

#weatherResult {
    margin-top: 20px;
}

#getWeatherBtn{
    border-style: none;
    border-radius: 8px;
    background-color: aqua;
    cursor: pointer;
}

#getWeatherBtn:hover{
    background-color: rgb(255, 0, 234);
    transition: 0.5s ease;
}
